.form-edit-box {
    margin: 0 auto;
    max-width: 50%;
}

.input-box {
    margin-bottom: 1rem;
}

.input-box label {
    display: block;
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.input,
.textarea,
.select {
    width: 100%;
}

.errors li {
    font-size: .8rem;
    color: red;
}